body {
    font-family: sans-serif;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-elements input, .form-elements button {
    margin-bottom: 20px;
    width: 300px;
    padding: 10px;
}

.cell {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    display: inline-flex;

}

.cell:hover {
    background-color: #97d4ff;
}

#gridContainer {
    margin: 2rem;
}

button {
    margin: 1rem;
}

.error {
    color: red;
}

input {
    margin: 1rem;
}